.char-button {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    background-color: #6e6f73;
    color: #ffffff;
    border: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.char-button:hover {
    transform: scale(1.2);
}

.char-button:active {
    transform: scale(0.9);
}

.char-button:disabled {
    cursor: not-allowed;
    color: #aaaaaa;
}