
.range-input-root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.range-input-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.range-input-value {
    width: 32px;
    text-align: right;
}

.range-input-handler {
    flex: 1;
}

.range-input-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: row;
}

.range-input-label-text {
    flex: 1;
}

.range-input-label-help {
    cursor: help;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;    
}