.warning-icon {
    user-select: none;
    background-color: #77061a;
    color: #e81737;
    cursor: help;
    font-weight: 700;
    font-size: 14px;
    padding: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.warning-icon:hover {
    transform: scale(1.2);
    background-color: #b30e2c;
    color: #ec2b48;
}