.working-area {
    flex: 1;
    width: 100%;
    height: auto;
    position: relative;
}

.working-canvas {
    position: absolute;
}

@media screen and (min-width: 960px) {
    .working-area {
        width: auto;
        height: 100%;
    }
}

.working-area-actions {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #151c22;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.working-area-button {
    background: #353941;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.working-area-button:hover {
    transform: scale(1.1);
}

.working-area-button:active {
    transform: scale(0.9);
}

.working-area-button-active {
    background: #6e6f73;
}
