body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.char-button {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  padding: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #ffffff;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.char-button:hover {
  transform: scale(1.2);
}

.char-button:active {
  transform: scale(0.9);
}

.char-button:disabled {
  cursor: not-allowed;
  color: #777777;
  border-color: #777777;
}

.action-button {
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #353941;
  color: #ffffff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.action-button:hover {
  background-color: #4b5060;
  transform: scale(1.02);
}

.action-button:active {
  background-color: #353941;
  transform: scale(0.98);
  color: #dddddd;
}

.action-button:disabled {
  background-color: #2c3039;
  color: #777777;
  cursor: not-allowed;
  transform: none;
}

.help-icon {
  cursor: help;
  font-weight: 700;
    font-size: 14px;
    padding: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
  

