body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #151c22;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}