
.action-menu {
    color: #ffffff;
    background-color: #151c22;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (min-width: 960px) {
    .action-menu {
        width: 240px;
        height: 100%;
    }
}

.action-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    box-sizing: border-box;
    border-bottom: 2px solid #88182f;
    border-top: 2px solid #2c3039;
}