.image-item-root {
    background-color: #353941;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.image-item-remove-button {
    font-size: 14px;
}

.image-item-title {
    flex: 1;
}

.image-item-checkbox {
    background: transparent;
    border: 2px solid #ffffff;
}