.image-item-root {
    background-color: #353941;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.image-item-root:hover {
    background-color: #4b5060;
    transform: scale(1.01);
}

.image-item-root:active {
    background-color: #353941;
    transform: scale(0.99);
    color: #dddddd;
}

.image-item-remove-button {
    font-size: 14px;
}

.image-item-title {
    flex: 1;
    text-align: left;
}

.image-item-checkbox {
    background: transparent;
    border: 2px solid #ffffff;
}