.image-item-root {
    background-color: #353941;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
    border: 2px solid #353941;
}

.image-item-root-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.image-item-root-current {
    border: 2px solid #88182f;
}

.image-item-root:hover {
    background-color: #4b5060;
    transform: scale(1.01);
}

.image-item-root:active {
    background-color: #353941;
    transform: scale(0.99);
    color: #dddddd;
}

.image-item-title-wrapper {
    flex: 1;
    text-align: left;
    overflow: hidden;
    user-select: none;
}

.image-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-item-checkbox {
    background: transparent;
    border: 2px solid #ffffff;
}

.image-item-checkbox:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.image-item-type-inicator {
    text-transform: uppercase;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc113c;
    padding: 2px;
    font-weight: bold;
    border-radius: 2px;
    user-select: none;
}

.image-item-rename-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 15px;
}

.image-item-rename-input:focus {
    outline: none;
}