.menu-section-root {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #2c3039;
    overflow: hidden;
}

.menu-section-header {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.menu-section-actions {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.menu-section-title {
    flex: 1;
}

.menu-section-content {
    width: calc(100% -32px);
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
}

.menu-section-divider {
    width: 100%;
    height: 8px;
    border-bottom: 2px solid #000000;
}