.image-details-content {
    gap: 8px;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .image-details-content {
        flex-direction: row;
        gap: 16px;
    }
}

@media screen and (min-width: 960px) {
    .image-details-content {
        flex-direction: column;
        gap: 24px;
    }
}

.help-icon {
    user-select: none;
    background-color: #6e6f73;
    cursor: help;
    font-weight: 700;
    font-size: 14px;
    padding: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}