.action-section-content {
    gap: 8px;
}

.action-button {
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #353941;
    color: #ffffff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.action-button:hover {
    background-color: #4b5060;
    transform: scale(1.02);
}

.action-button:active {
    background-color: #353941;
    transform: scale(0.98);
    color: #dddddd;
}

.action-button:disabled {
    background-color: #2c3039;
    color: #777777;
    cursor: not-allowed;
    transform: none;
}